/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {


.introduction p, .price-item h3 {
	font-size: 1.71em;
}


.introduction h1 {
	font-size: 3.2em;
}

.process h1, .prices h1, .price-item h2 {
	font-size: 2.73em;
}

.process-item h2 {
	font-size: 4.11em;
}

.process-item p {
	font-size: 1.02em;
}

.price-item ul li {
	font-size: 1.36em;
}

.circle {
	width: 80px;
  	height: 80px;
}

.header_menu {
	display: none;
}

.logo {
	display: none;
}

.copy {
	padding: 10px 0;
}

.copy-info {
	margin: 10px 0;
}

.copy-info p, .copy-info a span {
	font-size: 1em;
	margin-left: 5px;
}

} /* Final do estilo para smartphone
